.about-container {
    /* display: flex;
    justify-content: space-around; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about-box {
    align-self: center;
    color: white;
    /* background-color: rgba(112, 121, 140, 0.85);
    padding: 0.5rem;
    border-radius: 40%; */
}

.pf-box {
    position: absolute;
    align-self: center;
    /* margin-top: 40vh; */
    bottom: 5pt;
    display: flex;
    flex-direction: column;
}

.pf-text {
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.2); */
    font-size: 30pt;
    padding-left: 5pt;
    padding-right: 5pt;
}

.pf-arrow {
    width: 20%;
    align-self: center;
}

/* .bg-img {
    position: absolute;
} */