.about-container {
    display: flex;
    justify-content: center;
}

.about-img {
    width: 185pt;
    align-self: center;
}

.about-text {
    align-self: center;
    background-color: rgba(112, 121, 140, 0.7);
    padding: 1rem;
    width: 185pt;
}

.about-img, .about-text {
    border-radius: 4pt;
    margin: 30pt;
}