.contact-container {
    display: flex;
    justify-content: flex-end;
    /* height: 12%; */
    margin-right: 15pt;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.contact-details {
    display: flex;
    flex-direction: row;
    margin-top: 4pt;
}

.contact-text {
    color: white;
}

.name {
    font-size: x-large;
    text-align: right;
}

.contact-links {
    display: flex;
    margin-left: 10pt;
}

.git {
    margin-right: 12pt;
}

.git, .linkedin {
    display: flex;
    align-content: flex-end;
}

img.link-img {
    height: 70%;
    align-self: center;
}

a {
    display: flex;
    width: fit-content;
}