.nav-container {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    /* height: 8%; */
}

.nav {
    align-self: center;
    margin: 15pt;
    cursor: pointer;
    color: white;
}