

.main-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/fractal.jpg');
  height: 100vh;
  display: grid;
  grid-template-rows: 60pt 45pt auto;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}


/* div {
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

div {
  animation: example 5s linear 2s infinite alternate;
} */